doctype html
html
  head
    meta(charset='utf-8')
    title JSUnconf 13.+14.4.2019 in Hamburg. Get tickets now!
    meta(name='description', content='Your beloved JSUnconf 13.+14.4.2019 in Hamburg. Get tickets now!')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles/main.css')

  body.grid-01
    .header
      //- ul.headnav-list
      //-   li.headnav-list-item.font-icon-bars.square
      //-   li.headnav-list-item.font-icon-anchor.wide 
      //-     .headnav-list-item-name Cockpit
      //-   li.headnav-list-item.font-icon-calendar.square


    .main-content
      .image-section
        h1.title-l JSUnconf <br> 13.+14.4.2019 <br> Hamburg 

      //- section
      //-   h1 H1 – JSUnconf 2019 in Hamburg 13.+14.4.2019 
      //-   h2 H2 – Slow-carb tote bag twee deep v mustache air plant umami asymmetrical copper mug meggings authentic tofu.
      //-   h3 H3 – Slow-carb tote bag twee deep v mustache air plant umami asymmetrical copper mug meggings authentic tofu.
      //-   h4 H4 – Slow-carb tote bag twee deep v mustache air plant umami asymmetrical copper mug meggings authentic tofu.
      //-   h5 H5 – Slow-carb tote bag twee deep v mustache air plant umami asymmetrical copper mug meggings authentic tofu.

      section
        h2 Schedule
        a.button Real-time schedule
        p ...

      section
        h2 Contriboot
        p This is the contribution tool for the JSUnconf 2019. You can add, find and vote contributions and interests here. At the conference, everybody can propose a talk. Everybody votes for the talks they want to see. The most voted talks will be held. Note: this is just an indicator for what topics will be held at the conference, this is not the final voting! That will happen at the conference.
        a.button Please Contribute 

      section
        h2 Tickets
        a.button Regular 79 €
        a.button Regular with 50% Diversity support 119 €
        a.button Regular with 100% Diversity support 159 €

      section
        h2 Diversity
        p Our scholarship program is organized to make JSUnconf a better unconference. We want to make this community-focused event accessible to the wide range of people who are learning, work with, or are enthusiasts of Javascript. We welcome applicants from underrepresented groups in tech to apply. This includes, but is not limited to: women-identifying persons, people of color, LGBTQIA people, people with physical and mental disabilities, people facing economic and/or political hardships. Scholarship recipients will receive a JSUnconf 2019 ticket.
        p In addition, we will book travel and accommodation for you, so that you can arrive without stress :)
        a.button Apply Now

      section
        h2 Code of Conduct
        p The heart of JSUnconf is people. This guideline is meant to support a happy, productive and safe event experience that can welcome new ideas and inspiration for all attendees. Regardless of gender, sexual orientation, age, ability, ethnicity, socioeconomic status, and religion (or lack thereof). We gain strength from diversity, and actively seek participation from those who enhance it.
        a.button Read our full Code of Conduct

      section
        h2 Location
        p The BMK will host the JSUnconf again in 2019! We are excited!
        p Berufliche Schule für Medien und Kommunikation<br> Eulenkamp 46 <br>22049 Hamburg
        p On Friday there is a little pre-unconference party happening at the "Laundrette" starting at 19:00. Softdrinks are on us!
        p Please see the map for location overview and addresses.

        p MAP HERE

      section
        h2 Great companies
        h3 Gold
        p ...
        h3 Silver
        p ...
        h3 Bronze
        p ...

        a.button More about our sponsors

      .image-section
        .title-m This is YOUR conference!

      section
        a.link Follow us on Twitter
        a.link Contact
        a.link Imprint


      .page-bottom-spacer

    script(src='scripts/main.js')